<!DOCTYPE html>
<html lang="en" ng-app="timeline">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline | Parameters</title>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mathquill/0.10.1/mathquill.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathquill/0.10.1/mathquill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>


    <script src="parameters.js"></script>
    <link rel="stylesheet" href="../mathquill.css"/>
    <script src="../mathquill.js"></script>
    <link href="../styles.css" rel="stylesheet">

    <style>
        .split-screen {
            display: flex;
            height: 100vh;
        }

        .left-side,
        .right-side {
            flex: 1;
            overflow-y: auto;
            scrollbar-width: none;
            height: calc(100% - 56px); /* Учет высоты панели меню */
        }

        .right-side::-webkit-scrollbar {
            display: none;
        }

        body, html {
            height: 100%;
            margin: 0;
        }

        .chart-container {
            margin-bottom: 3%;
            padding: 3%;
            background-color: #f7f7f7;

            overflow: hidden;
            position: sticky;
            top: 0; /* Начинается на высоте панели меню */
            z-index: 999;
        }
    </style>

</head>

<body>

<div class="container-fluid" ng-controller="indexController">

    <!-- Добавленная панель -->
    <div id="navbar-placeholder"></div>

    <script>
        $(function () {
            $("#navbar-placeholder").load("../navbar.html");
        });
    </script>

    <div class="row split-screen">
        <div class="col-md-6 left-side">
            <!-- Left side of the page -->
            <h2>Parameter list</h2>
            <a class="btn btn-primary ml-auto" href="#" ng-click="openNewParameterModal()">Add new parameter</a>

            <table class="table table-hover" cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Description</th>

                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="s in ParametersList" ng-click="loadGraphData(s)" data-id="{{s.id}}">
                    <td>{{s.id}}</td>
                    <td>{{s.name}}</td>
                    <td>{{s.unit.abbreviation}}</td>
                    <td>{{s.description}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6 right-side">
            <!-- Right side of the page -->
            <div class="chart-container">
                <canvas id="myChart"></canvas>
            </div>
            <div id="parameterDetails">
                <h3 id="parameterTitle"></h3>
                <p id="parameterDescription"></p>
                <h4>Points</h4>
                <div id="pointsList" class="d-flex flex-wrap">
                    <!-- Points will be inserted here dynamically -->
                </div>

                <h4>Functions</h4>
                <ul id="functionListHTML" class="list-group">
                </ul>
            </div>
        </div>
    </div>

    <!-- Modal for adding new parameter -->
    <div class="modal fade" id="addParameterModal" tabindex="-1" role="dialog" aria-labelledby="addParameterModalLabel"
         aria-hidden="true" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addParameterModalLabel">Add new parameter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="parameterName">Parameter Name</label>
                            <input type="text" class="form-control" id="parameterName" ng-model="newParameter.name">
                        </div>
                        <div class="form-group">
                            <label for="parameterAbbreviation">Parameter Abbreviation</label>
                            <input type="text" class="form-control" id="parameterAbbreviation"
                                   ng-model="newParameter.abbreviation">
                        </div>
                        <div class="form-group">
                            <label for="newParameterDescription">Parameter Description</label>
                            <textarea class="form-control" id="newParameterDescription" rows="3"
                                      ng-model="newParameter.description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="newFormulaRelatedParameterField">Unit ID</label>
                            <input type="text" class="form-control" id="newParameterUnitId"
                                   ng-model="newParameter.unit.id">
                        </div>
                        <!-- Function Fields -->
                        <div class="form-group">
                            <label for="startPoint">Start Point</label>
                            <input type="text" class="form-control" id="startPoint" ng-model="newFunction.startPoint">
                        </div>
                        <div class="form-group">
                            <label for="endPoint">End Point</label>
                            <input type="text" class="form-control" id="endPoint" ng-model="newFunction.endPoint">
                        </div>
                        <div class="form-group">
                            <label for="newFormulaField">Function</label>
                            <p><span id="newFormulaField" ng-model="newFunction.expression">x=</span></p>
                        </div>
                        <div class="form-group">
                            <label for="newFormulaRelatedParameterField">Related parameter IDs</label>
                            <input type="text" class="form-control" id="newFormulaRelatedParameterField"
                                   ng-model="newFunction.relatedParameterIds">
                        </div>

                        <button id="addFunctionButton" class="btn btn-primary" type="button" ng-click="addFunction()">
                            Add
                            Function
                        </button>
                        <!-- Display list of functions -->

                        <!-- Display list of functions -->
                        <ul class="list-group mt-3">
                            <li class="list-group-item" ng-repeat="func in newParameter.functions">
                                Interval: {{func.startPoint}} - {{func.endPoint}}<br>
                                <span ng-bind-html="renderMath(func.expression)"></span>
                                <button type="button" class="btn btn-warning btn-sm float-right ml-2" ng-click="editFunction($index)">Edit</button>
                                <button type="button" class="btn btn-danger btn-sm float-right" ng-click="deleteFunction($index)">Delete</button>
                            </li>
                        </ul>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="addParameter()">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
