<!DOCTYPE html>
<html lang="en" ng-app="timeline">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline | Parameters</title>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mathquill/0.10.1/mathquill.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathquill/0.10.1/mathquill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>


    <script src="parameters.js"></script>
    <link rel="stylesheet" href="../mathquill.css"/>
    <script src="../mathquill.js"></script>
    <link href="../styles.css" rel="stylesheet">

    <style>
        .split-screen {
            display: flex;
            height: 100vh;
        }

        .left-side,
        .right-side {
            flex: 1;
            overflow-y: auto;
            scrollbar-width: none;
            height: calc(100% - 56px); /* Учет высоты панели меню */
        }

        .right-side::-webkit-scrollbar {
            display: none;
        }

        body, html {
            height: 100%;
            margin: 0;
        }

        .chart-container {
            margin-bottom: 3%;
            padding: 3%;
            background-color: #f7f7f7;
            overflow: hidden;
            position: sticky;
            top: 0; /* Начинается на высоте панели меню */
            z-index: 999;
        }
        .modal-body {
            max-height: 60vh; /* Вы можете отрегулировать высоту по необходимости */
            overflow-y: auto;
        }

        .math-container {
            overflow-x: auto;
            word-wrap: break-word;
            white-space: nowrap; /* Предотвращает перенос формулы на следующую строку */
        }
        .math-container {
            overflow-x: auto;
            word-wrap: break-word;
            white-space: nowrap; /* Предотвращает перенос формулы на следующую строку */
            max-width: 100%; /* Ограничение максимальной ширины, чтобы предотвратить переполнение */
        }

        .modal-body {
            max-height: 60vh; /* Вы можете отрегулировать высоту по необходимости */
            overflow-y: auto;
        }

        /* Дополнительные стили для математических формул, чтобы они оставались в пределах контейнера */
        .math-container > .mq-editable-field {
            max-width: 100%; /* Ограничение максимальной ширины, чтобы предотвратить переполнение */
        }

    </style>

</head>

<body>

<div class="container-fluid" ng-controller="indexController">

    <!-- Добавленная панель -->
    <div id="navbar-placeholder"></div>

    <script>
        $(function () {
            $("#navbar-placeholder").load("../navbar.html");
        });
    </script>

    <div class="row split-screen">
        <div class="col-md-6 left-side">
            <!-- Left side of the page -->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2>Parameter list</h2>
                <a class="btn btn-primary" href="#" ng-click="openNewParameterModal()">Add new parameter</a>
            </div>
            <table class="table table-hover" cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Description</th>

                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="s in ParametersList" ng-click="loadGraphData(s)" data-id="{{s.id}}">
                    <td>{{s.id}}</td>
                    <td>{{s.name}}</td>
                    <td>{{s.unit.abbreviation}}</td>
                    <td>{{s.description}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6 right-side">
            <!-- Right side of the page -->
            <div class="chart-container">
                <canvas id="myChart"></canvas>
            </div>
            <div id="parameterDetails">
                <div class="parameter-details">
                    <h4>{{ currentParameter.name }} ({{ currentParameter.abbreviation }}), {{ currentParameter.unit.abbreviation }}</h4>
                    <button class="btn btn-warning btn-sm" ng-click="editParameter(currentParameterId)">Edit</button>
                    <button class="btn btn-danger btn-sm" ng-click="confirmDeleteParameter(currentParameterId)">Delete</button>
                </div>
                <p>{{ currentParameter.description }}</p>
                <h4>Points</h4>
                <div id="pointsList" class="d-flex flex-wrap">
                    <div class="point-item mr-2" ng-repeat="point in currentParameter.points">
                        ({{ point.x }}, {{ point.y }})
                    </div>
                    <p ng-if="!currentParameter.points || currentParameter.points.length === 0">No data</p>
                </div>


                <h4>Functions</h4>
                <ul id="functionListHTML" class="list-group">
                    <li class="list-group-item" ng-repeat="func in currentParameter.functions">
                        Interval: {{func.startPoint}} - {{func.endPoint}}<br>
                        <span ng-bind-html="renderMath(func.expression)"></span>
                    </li>
                    <li class="list-group-item" ng-if="!currentParameter.functions.length">No functions added yet</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Modal for confirming parameter deletion -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Parameter Deletion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>The following functions will be deleted along with this parameter:</p>
                    <ul class="list-group">
                        <li ng-repeat="func in dependentFunctions" class="list-group-item">
                            <div>
                                <p>Parent Parameter Name: {{func.parentParameterName}}</p>
                                <p>Interval: {{func.startPoint}} - {{func.endPoint}}</p>
                                <div class="math-container" ng-bind-html="renderMath(func.expression)"></div>
                            </div>
                            <!-- Add a separator between list items -->
                            <hr ng-if="!$last">
                        </li>
                    </ul>
                    <p>Are you sure you want to proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" ng-click="deleteParameter()">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for adding and editing new parameter -->
    <div class="modal fade" id="addParameterModal" tabindex="-1" role="dialog" aria-labelledby="addParameterModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addParameterModalLabel" ng-if="!isEditing">Добавить новый параметр</h5>
                    <h5 class="modal-title" id="addParameterModalLabel" ng-if="isEditing">Редактировать параметр</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" ng-model="newParameter.id">
                        <div class="form-group">
                            <label for="parameterName">Название параметра</label>
                            <input type="text" class="form-control" id="parameterName" ng-model="newParameter.name">
                        </div>
                        <div class="form-group">
                            <label for="parameterAbbreviation">Аббревиатура параметра</label>
                            <input type="text" class="form-control" id="parameterAbbreviation" ng-model="newParameter.abbreviation">
                        </div>
                        <div class="form-group">
                            <label for="newParameterDescription">Описание параметра</label>
                            <textarea class="form-control" id="newParameterDescription" rows="3" ng-model="newParameter.description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="newParameterUnitId">ID единицы измерения</label>
                            <input type="text" class="form-control" id="newParameterUnitId" ng-model="newParameter.unit.id">
                        </div>
                        <!-- Поля функций -->
                        <div class="form-group">
                            <label for="startPoint">Начальная точка</label>
                            <input type="text" class="form-control" id="startPoint" ng-model="newFunction.startPoint">
                        </div>
                        <div class="form-group">
                            <label for="endPoint">Конечная точка</label>
                            <input type="text" class="form-control" id="endPoint" ng-model="newFunction.endPoint">
                        </div>
                        <div class="form-group">
                            <label for="newFormulaField">Функция</label>
                            <p><span id="newFormulaField" ng-model="newFunction.expression">x=</span></p>
                        </div>
                        <div class="form-group">
                            <label for="newFormulaRelatedParameterField">Связанные ID параметров</label>
                            <input type="text" class="form-control" id="newFormulaRelatedParameterField" ng-model="newFunction.relatedParameterIds">
                        </div>

                        <button id="addFunctionButton" class="btn btn-primary" type="button" ng-click="addFunction()">Добавить функцию</button>

                        <!-- Отображение списка функций -->
                        <ul class="list-group mt-3">
                            <li class="list-group-item" ng-repeat="func in newParameter.functions">
                                Интервал: {{func.startPoint}} - {{func.endPoint}}<br>
                                <span ng-bind-html="renderMath(func.expression)"></span>
                                <button type="button" class="btn btn-warning btn-sm float-right ml-2" ng-click="editFunction($index)">Редактировать</button>
                                <button type="button" class="btn btn-danger btn-sm float-right" ng-click="deleteFunction($index)">Удалить</button>
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" ng-click="addParameter()" ng-if="!isEditing">Добавить</button>
                    <button type="button" class="btn btn-primary" ng-click="addParameter()" ng-if="isEditing">Сохранить изменения</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
